:root {
  --color-primary: 54 194 215;
  --color-on-primary: 0 0 0;

  --color-secondary: 22 127 159;
  --color-on-secondary: 255 255 255;

  --color-info: 14 165 233;
  --color-on-info: 0 0 0;

  --color-success: 34 197 94;
  --color-on-success: 0 0 0;

  --color-warning: 234 179 8;
  --color-on-warning: 0 0 0;

  --color-danger: 239 68 68;
  --color-on-danger: 0 0 0;

  --color-gray: 144 153 196;
  --color-on-gray: 0 0 0;

  --color-royal: 75 113 230;
  --color-on-royal: 0 0 0;
}

/* Gilroy font faces */
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-Heavy.ttf') format('truetype');
	font-weight: 950;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
	font-weight: 950;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-RegularItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
}